:root {
  --azul-marinho: #1A365D;    
  --azul-vibrante: #3182CE;   
  --azul-alice: #4A90E2;      
  --azul-claro: #A3BFFA;      
  --azul-bebe: #EBF8FF;       
  --branco: #FFFFFF;          
  --detalhe-rosa: #FBB6CE;    
  --preto-texto: #2D3748;     
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--azul-bebe); 
  background-image: radial-gradient(var(--azul-claro) 2px, transparent 2px);
  background-size: 50px 50px; 
  background-attachment: fixed; 
  font-family: 'Quicksand', sans-serif;
  display: flex;
  justify-content: center;
  padding: 40px 20px;
}

.wrapper-principal {
  max-width: 1000px;
  width: 100%;
  background-color: var(--branco); 
  padding: 40px;
  border-radius: 40px;
  border: 6px solid var(--azul-claro);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.30);
}

.poster {
  display: block;
  margin: 0 auto 30px;
  max-width: 100%;
  height: auto;
  border: 6px solid var(--azul-claro);
  border-radius: 30px;
}

.header {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.titulo {
  font-family: 'Varela Round', sans-serif;
  font-size: 38px; 
  color: var(--azul-marinho);
  background-color: var(--azul-bebe);
  padding: 15px 35px;
  border-radius: 30px;
  border: 4px dashed var(--azul-vibrante); 
  text-align: center;
}

.container-filtros {
  display: flex;
  gap: 25px;
  justify-content: center;
  margin-bottom: 40px;
  flex-wrap: wrap;
}

.caixa-input {
  background: var(--azul-bebe);
  flex: 1;
  min-width: 320px;
  padding: 25px;
  border-radius: 25px;
  border: 4px dashed var(--azul-claro);
  text-align: center;
}

.borda-destaque { 
  border-color: var(--azul-vibrante) ; 
}

.caixa-input label {
  display: block;
  font-weight: bold;
  font-size: 20px; 
  margin-bottom: 15px;
  color: var(--azul-marinho);
}

.grupo-campo {
  display: flex;
  gap: 10px;
}


.caixa-texto {
  background: #F7FAFC; 
  padding: 40px;
  border-radius: 30px;
  margin: 0 auto;
}

.borda-suave {
  border: 5px dashed var(--azul-claro); 
}

.caixa-texto p {
  font-size: 22px; 
  line-height: 1.6;
  color: var(--preto-texto);
  text-align: left;
}

.caixa-texto h3 {
  font-size: 26px; color: var(--azul-marinho); 
}

.caixa-texto h3 span { 
  color: var(--detalhe-rosa); 
}

.caixa-texto h4 {
  font-size: 22px; color: var(--azul-vibrante); margin: 15px 0 25px; 
}

.input {
  flex: 1;
  padding: 15px;
  border-radius: 15px;
  border: 2px solid var(--azul-claro);
  font-size: 18px;
}

.botao {
  padding: 15px 25px;
  border: none;
  border-radius: 15px;
  color: var(--branco);
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  background-color: var(--azul-vibrante);
  transition: opacity 0.2s;
}

.botao:hover {
  opacity: 0.9;
}