.status {
    text-align: center;
    font-size: 18px;
}

.status.error {
    color: var(--error);
}

.filme-section {
    padding: 0 48px;
}

.filme-section h2 {
    font-size: 32px;
    color: var(--txt-destacado);
    max-width: 1240px;
    margin: 0 auto 20px auto;
}

.filme-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 36px;
    max-width: 1240px;
    margin: 0 auto;
}

.filme-card {
    padding: 16px;
    background-color: var(--superficie-cards);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 2px 2px 20px #36173f;
    display: flex;
    flex-direction: column;
}

.filme-card img {
    width: 100%;
    aspect-ratio: 2 / 3;
    object-fit: cover;
    border-radius: 12px;
}

.filme-info {
    padding: 16px 0 0 0;
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 16px;
}

.filme-info h3 {
    font-size: 20px;
    color: var(--txt-principal);
}

.filme-info p {
    color: var(--txt-secundario);
}

a {
    text-decoration: none;
    color: inherit;
}

.modo-alto-contraste {
    background-color: #000000 !important;
}

.modo-alto-contraste .header-nav {
    background-color: #000000 !important;
    border: 2px solid #ffffff !important;
    box-shadow: none !important;
}

.modo-alto-contraste .header-nav h1,
.modo-alto-contraste .frase,
.modo-alto-contraste .filme-section h2,
.modo-alto-contraste .filme-info h3,
.modo-alto-contraste .filme-info p {
    color: #ffffff !important;
}

.modo-alto-contraste .filme-card {
    background-color: #000000 !important;
    border: 2px solid #ffffff !important;
    box-shadow: none !important;
}

.modo-alto-contraste .botao-acessar {
    background-color: #ffff00 !important;
    color: #000000 !important;
    border: 2px solid #ffff00 !important;
    box-shadow: none !important;
}