/* 1. O CONTAINER: Define o limite de largura do site */
.container {
    max-width: 1440px; /* Impede que o site fique "esticado" demais em monitores gigantes */
    margin: auto; /* Centraliza todo o conteúdo no meio da tela */
    padding: 32px; /* Cria um respiro nas laterais para o texto não encostar na borda */
}

/* 2. O HEADER: A "caixa" do topo onde fica o nome do site */
header {
    background-color: var(--superficie-cards); /* Usa a cor roxa escura das variáveis */
    border-radius: 20px;
    padding: 32px;
    margin-bottom: 48px; /* Empurra o conteúdo de baixo para não ficar grudado */
    text-align: center; /* Centraliza o título e o texto de boas-vindas */
    box-shadow: 0px 8px 20px var(--primary); /* Cria aquela aura iluminada roxa embaixo do cabeçalho */
}

/* 3. TÍTULO DO HEADER: O nome "Cinelist" */
header h1 {
    font-size: 48px; /* Deixa o nome do site bem grande */
    margin-top: 8px;
}

/* 4. SUBTÍTULO: A frase "Seu catálogo de filmes favoritos" */
header p {
    font-size: 18px; /* Aqui ele herda a cor secundária ou principal automaticamente */
}